.center
{
  text-align: center
  vertical-align: middle;
}

.desc
{
  font-family: sans-serif; 
  font-size: 2em;
}

body {
    line-height: 200px;
    background-image: url("media/bg.png");
    background-repeat: repeat;
}

#centerImg
{
  
}
