.center
{
  height: 100vh;
  text-align: center;
  /*vertical-align: middle;*/
}

.desc
{
  margin-top: 15px;
  font-family: sans-serif; 
  font-size: 1.5em;
}

body {
    /*line-height: 200px;*/
    background-image: url("media/bg.png");
    background-repeat: repeat;
}

p
{
  color: white;
}

#centerImg
{
  border:5px solid #EFEFEF;
}

.verticalBuffer
{
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}
