body {
	background-image: url("/assets/squairy_light.png");
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#mc-fill {
	display: flex;
	background-color: DodgerBlue;
	  align-items: center;
	justify-content: center;
}

.center-img {
	/*border-radius: 150px;*/
	max-width: 250px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: -15px
	/*border:5px solid #FFF;*/
}

.mc-top-margin {
	margin-top: 50px;
}

.mc-body {
	text-align: center;
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}

.mc-container {
	padding: 1rem;
	text-align: justify;
	font-size: 100%;
	display: flex;   
	flex-wrap: wrap;
}

.mc-container:after {
	display: inline-block;
	width: 100%;
}

.mix:before {
	display: inline-block;
}

.mix {
	 position: relative;
}

.mc-project {
	border: 1px solid black;
	border-radius: 7px;
	margin: 5px;
	background-color: rgba(240, 230, 230, 0.3);
	    overflow: hidden;
}

.mc-project-lg {
	/*color: rgb(250, 245, 245);*/
	width: 300px;
	height: 300px;
}

.mc-project-md {
	width: 250px;
	height: 250px;
}

.mc-project-sm {
	width: 150px;
	height: 150px;
}

.mc-project-content {
	margin: 10px;
	text-align: left;
	/*background-color: rgb(200, 100, 100);*/
}

.mc-title {
	font-size: 1.1em;
	margin-right: 10px;
	/*background-color: rgb(100, 100, 200);*/
	margin-left: 5px;
	font-weight: bold;
}

.mc-title-bar {
	/*background-color: rgb(120, 180, 220);*/
	text-align: right;
	height: 100%; 
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
}

.mc-date {
	margin-top: 0px;
	font-size: .9em;
	margin-right: 7px;
	position: relative;
	top: 50%;
	transform: translateY(15%);
	/*background-color: rgb(100, 150, 200);*/
}

.mc-short {
	float: none;
	font-size: .9em;
	margin-bottom: 5px;
}

.mc-tools {
	font-size: .7em;
	/*background-color: rgb(100, 150, 100);*/
	width: 180px;
	display: inline-block;
	margin-top: 5px;
	text-align: left;
}

.mc-roles {
	font-size: .7em;
	/*background-color: rgb(150, 120, 150);*/
	width: 200px;
	display: inline-block;
	margin-top: 5px;
	text-align: left;
}

.mc-links {
	font-size: .9em;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.mc-subheader {
	margin-left: 5px;
}

.mc-proj-body {
	margin-left: 5px;
}

.mc-project-icon {
	width: 80px;
	position: absolute;
	border-radius: 7px;
	bottom: 5px;
	right: 5px;
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
}

.mc-vertical-buffer {
	display: inline-block;
	height: 100%;
	margin-top: 40px;
}

/* General classes for adjusting in a specific way. */
/* Removes the top margin */
.mc-notop {
	vertical-align:top
}

/* Custom H4 sizing */
.mc-h4 {
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
}

.mc-category {
	margin: 0px;
	margin-top: 4px;
}

.mc-button {
	margin: 2px;
}

.mc-inline-block {
	display: inline-block;
}

.mc-top-nopadding {
	padding-top: 0px;
}

@media only screen and (max-width: 968px) {
	.mc-body {
		max-width: 656px;
	}
}
@media only screen and (max-width: 656px) {
	.mc-project {
		min-width: 100%;
	}
}