body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* Fix the bottom border of the navbar being off by 1px*/
.navbar-fixed-top {
  border-width: 0;
}

/* The offset I use to define being vertically "centered." */
.center {
  height: 13vh;
  /*vertical-align: middle;*/
}
@media (max-width: 768px)
{
  .center {
    height: 0vh;
  }
}



/* For correcting the vertical height between elements, useful for mobile. */
.vertical-margin {
  margin-top: 40px;
}
.vertical-margin.next-section {
  margin-top: 25px; /* this is 40 - the standard 15 that is the margin/padding) */
}

.desc {
  margin-top: 15px;
  /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
  font-size: 2em
}


.btn-mod-primary {
  text-align: center;
  
  padding: 6px 0;
  font-size: 12px;

}

.btn-mod-primary.btn-xl {
  width: 70px;
  height: 70px;

  padding: 10px 16px;
  font-size: 24px;
  line-height: 2;
    border-radius: 10px;
}

.table-fiddling {
  margin-left: auto;
  margin-right: auto;
}
.table-fiddling tr{
  text-align: left;
}
.table-fiddling .left-info{
  padding-right: 10px;
}
body {
  /*line-height: 200px;*/
  background-image: url("/assets/squairy_light.png");
  background-repeat: repeat;
}

.center-img {
  border-radius: 150px;
  /*border:5px solid #FFF;*/
}

.

.shade-image {
  /*box-shadow: 3px 3px 4px #282835;*/
}

.vertical-buffer {
  display: inline-block;
  height: 100%;
}
